<%= render partial: 'script_to_load' %>

<div class='container'>
<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-3 col-sm-2" role="navigation">
    <div class="left_sidebar">
      <div class='row'>
        <%= image_tag current_user.image, size: '50x50' %>
        <p class='row col-sm-10'><strong><%= current_user.name.upcase %></strong></p>
      </div>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#">People</a></li>
      </ul>

      <br>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#">People</a></li>
        <li><a href="#">Channels</a></li>
      </ul>

      <ul class="nav">
        <li>All Channels</li>
        <!-- <li class="active"><a href="#">Link</a></li> -->
        <!-- <li><a href="#">Link</a></li> -->
        <% @all_channels.each do |channel| %>
          <li>
            <%= channel.channel_name %>
          </li>
        <% end %>
      </ul>


    </div>
  </div>


  <div class="col-xs-9 col-sm-7">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>

    <div class='row'>
      <div class="col-sm-12">
        <h6>You are currently at > <span id='channel_name'><%= @channel_name %></span></h6>
      </div>
    </div>

    <hr>

    <div class='row' id='channel_wrapper'>
      <div id='message_board'>

        <div class="row col-sm-12">
          <div class="col-sm-2">
            me
          </div>

          <div class="col-sm-9">
            Hello
          </div>

          <div class="col-sm-1">
            1:12pm
          </div>
        </div>


      </div>
    </div>

    <hr>

    <div class='row'>
      <div class='col-sm-10'>
        <%= text_area(:message, :box, class: 'form-control', placeholder: 'Say something!', autofocus: 'true') %>
        <div style='color: grey'>
          <span class="label label-primary">Tip</span>
          Press 'shift + enter' for code block, or 'alt + enter' move to a new line.
        </div>
      </div>

      <div class='col-sm-2'>
        <div class='btn btn-default btn-block' id='send_button'>Beam it up!</div>
      </div>


    </div>

  </div><!--/span-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
    <div class="well sidebar-nav">
      <ul class="nav">
        <li>HackerNews etc</li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
</div><!--/row-->

<hr>
</div>

<script type="text/javascript">
  $(function() {
    // var blahblah = $('#channel_name').text()
    pusher.establish_channel();

    var lookup_msg_box = function() {
      var message_box_msg = $('#message_box').val();
      alert(message_box_msg);
    }

    $('#send_button').click(function() {
      // var message_box_msg = $('#message_box').val();
      // alert(message_box_msg);
      lookup_msg_box();
    });

    $("#message_box").keypress(function(event) {
      var message_box_content = $('#message_box').val();

      if (event.which === 13) {
        if (message_box_content.trim() !== "") {
          if (event.altKey === true) {
            console.log('msg is not done yet. Do nothing');
            return
          }

          if (event.shiftKey === true) {
            console.log('this is code block');
            clear_text_box();
          } else {
            console.log('this is regular msg')
            chatroom.send_msg('text', message_box_content);
            clear_text_box();
          }
        } else {
          console.log('there is no text. Do nothing');
          event.preventDefault();
        }
      } else {
        console.log('something else was pressed')
      }
    });

    var clear_text_box = function() {
      event.preventDefault();
      $('#message_box').val('');
    }


  });

  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };
</script>


