<%= render partial: 'script_to_load' %>

<div class='container'>
<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-3 col-sm-2" role="navigation">
    <div class="left_sidebar">
      <div class='row'>
        <%= image_tag current_user.image, size: '50x50' %>
        <p class='row col-sm-10'><strong><%= current_user.name.upcase %></strong></p>
      </div>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#">People</a></li>
      </ul>

      <br>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#">People</a></li>
        <li><a href="#">Channels</a></li>
      </ul>

      <ul class="nav">
        <li>All Channels</li>
        <!-- <li class="active"><a href="#">Link</a></li> -->
        <!-- <li><a href="#">Link</a></li> -->
        <% @all_channels.each do |channel| %>
          <li>
            <%= channel.channel_name %>
          </li>
        <% end %>
      </ul>


    </div>
  </div>


  <div class="col-xs-9 col-sm-7 top_padding_20">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>

    <div class='row'>
      <div class="col-sm-12">
        <p><%= render partial: 'layouts/messages' %></p>
        <p>You are currently at &gt; <span class="label label-default" id='channel_name'><%= @channel_name.titleize %></span></p>
      </div>
    </div>

    <hr>

    <div class='row' id='channel_wrapper'>
      <div class='col-sm-12' id='message_board'>
      </div>
    </div>

    <hr>

    <div class='row'>
      <div class='col-sm-11'>
        <%= text_area(:message, :box, class: 'form-control', placeholder: 'Say something!', autofocus: 'true') %>
        <div style='color: grey'>
          <span class="label label-primary">Tip</span>
          Press 'shift + enter' for code block, or 'alt + enter' move to a new line.
        </div>
      </div>

      <div class='col-sm-1'>
        <div class='btn btn-default' id='send_button' data-toggle='tooltip' data-title='Only for text!', data-placement='bottom'>SEND</div>
      </div>

    </div>

  </div><!--/span-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
    <div class="well sidebar-nav">
      <ul class="nav">
        <li>HackerNews etc</li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
</div><!--/row-->

<hr>
</div>

<script type="text/javascript">
  $(function() {
    pusher.establish_channel();
    chatroom.gethistory();

    // FOR SENDING TEXT MSG VIA CLICKING THE BUTTON
    $('#send_button').click(function(event) {
      var msg_content = chatroom.capture_msg();
      chatroom.send_msg(msg_content);
      chatroom.clear_msg_box();
    });

    // FOR SENDING TEXT MSG OR CODE BLOCK VIA HITTING ENTER COMBINATIONS
    $("#message_box").keypress(function(event) {
      var msg_content = chatroom.capture_msg();
      var code_wrapped;

      if (event.which === 13) {                       // enter was pressed
        if (msg_content.trim() !== "") {              // the textarea wasn't blank
          if (event.altKey === true) { return; }      // but alt key was pressed to move to a new line; do nothing
          if (event.shiftKey === true) {              // or shift key was pressed therefore code block
            code_wrapped = "<code>" + msg_content + "</code>";
            chatroom.send_msg(code_wrapped);
            chatroom.clear_msg_box();
          } else {                                    // just enter therefore this is a text message
            chatroom.send_msg(msg_content);
            chatroom.clear_msg_box();
          }
        } else {                                      // enter was pressed but textarea was blank
          chatroom.clear_msg_box();
        }
      }
    });

    $("#message_box").keydown(function(event) {
      if (event.which === 9) {                        // this overrides default TAP functionality
        console.log(event);
        event.preventDefault();
        var start = $(this).get(0).selectionStart;
        var end = $(this).get(0).selectionEnd;

        // set textarea value to: text before caret + tab + text after caret
        $(this).val($(this).val().substring(0, start)
                    + "\t"
                    + $(this).val().substring(end));

        // put caret at right position again
        $(this).get(0).selectionStart =
        $(this).get(0).selectionEnd = start + 1;
      };
    });

    hljs.initHighlightingOnLoad();
  });

  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };
</script>


