
<div class='container'>
<div class="row row-offcanvas row-offcanvas-right">

  <div class="col-xs-3 col-sm-2" role="navigation">
    <div class="left_sidebar">
      <div class='row'>
        <%= image_tag current_user.image, size: '50x50' %>
        <p class='row col-sm-10'><strong><%= current_user.name.upcase %></strong></p>
      </div>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#">People</a></li>
      </ul>

      <br>

      <ul class="nav nav-tabs">
        <li class="active"><a href="#">People</a></li>
        <li><a href="#">Channels</a></li>
      </ul>

      <ul class="nav">
        <li>All Channels</li>
        <!-- <li class="active"><a href="#">Link</a></li> -->
        <!-- <li><a href="#">Link</a></li> -->
        <% @all_channels.each do |channel| %>
          <li>
            <%= channel.channel_name %>
          </li>
        <% end %>
      </ul>


    </div>
  </div>


  <div class="col-xs-9 col-sm-7">
    <p class="pull-right visible-xs">
      <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
    </p>

    <div class='row'>
      <div class="col-sm-12">
        <h6>You are currently at > <span id='channel_name'><%= @channel_name %></span></h6>
      </div>
    </div>

    <hr>

    <div class='row' id='channel_wrapper'>
      <div class="col-12 col-sm-12 col-lg-12">

        <div class="col-sm-2">
          me
        </div>

        <div class="col-sm-9 ">
          Hello
        </div>

        <div class="col-sm-1">
          1:12pm
        </div>
      </div><!--/span-->
    </div>

    <hr>

    <div class='row'>
      <div class='col-sm-10'>
        <%= text_area(:message, :box, class: 'form-control', placeholder: 'Say something!', autofocus: 'true') %>
      </div>

      <div class='col-sm-2'>
        <!-- <select class="form-control"><option>button1</option></select> -->

        <label class='checkbox-inline'>
          <input type="checkbox" id="inlineCheckbox1" value="option1">Code?
        </label>

        <div class='btn btn-default btn-block' id='send_button'>Send!</div>
      </div>


    </div>

  </div><!--/span-->

  <div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
    <div class="well sidebar-nav">
      <ul class="nav">
        <li>HackerNews etc</li>
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
    </div><!--/.well -->
  </div><!--/span-->
</div><!--/row-->

<hr>
</div>

<script type="text/javascript">
  $(function() {
    // var blahblah = $('#channel_name').text()
    pusher.establish_channel();

    var lookup_msg_box = function() {
      var message_box_msg = $('#message_box').val();
      alert(message_box_msg);
    }

    $('#send_button').click(function() {
      // var message_box_msg = $('#message_box').val();
      // alert(message_box_msg);
      lookup_msg_box();
    });



    console.log('js script loading');

  });

  // Enable pusher logging - don't include this in production
  Pusher.log = function(message) {
    if (window.console && window.console.log) {
      window.console.log(message);
    }
  };
</script>


