<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to '<PostScript/>', root_path, class: 'navbar-brand' %>
    </div>

    <div class="navbar-collapse collapse">
      <% if user_signed_in? %>

        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href='/' class='icon_menu'>Signed in::<%= current_user.name.upcase %></a>
          </li>

          <li>
            <%= link_to('/', :data => { toggle: 'tooltip', title: 'New channel', placement: 'bottom' }, class: 'icon_menu', id: 'new_channel_icon') do %>
              <icon class='icon-list-add'></icon>
            <% end %>
          </li>

          <li>
            <%= link_to('/', :data => { toggle: 'tooltip', title: 'Edit setting', placement: 'bottom' }, class: 'icon_menu', id: 'edit_setting_icon') do %>
              <icon class='icon-tools'></icon>
            <% end %>
          </li>

          <li>
            <%= link_to(destroy_user_session_path, :data => { toggle: 'tooltip', title: 'Sign out', placement: 'bottom' }, class: 'icon_menu', id: 'signout_icon', method: 'delete') do %>
              <icon class='icon-logout'></icon>
            <% end %>
          </li>
        </ul>

      <% else %>

        <form class="navbar-form navbar-right">
          <%= link_to(user_omniauth_authorize_path(:github), class: 'btn btn-primary') do %>
            Sign in with<icon class='icon-github'></icon>
          <% end %>

        </form>
      <% end %>
    </div><!--/.nav-collapse -->
  </div>
</div>


