<!DOCTYPE html>
<html>
<head>
  <title>postscript</title>
  <%= javascript_include_tag "application" %>
  <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    var pusher = {
       pusher_agent: new Pusher('c0a1d86c10d9462f9f08'),
       subscribed_channel: ""
     };
  </script>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render partial: 'layouts/navigation' %>
  <%= yield %>
  <%= render partial: 'layouts/footer' %>
</body>
</html>




<script>hljs.initHighlightingOnLoad();</script>