<!DOCTYPE html>
<html>
<head>
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>postscript</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">
  <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
</head>

<body>


  <%= render partial: 'layouts/messages' %>

    <%= yield %>
  <div class='container'>
    <%= render partial: 'layouts/footer' %>
  </div>

  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>


<!-- <%= render partial: 'layouts/navigation' %> -->